<h1>前端埋点方案</h1>

<h3>场景</h3>
<hr>
<p>对系统进行数据埋点，分为【按钮点击】、【页面PV】和停留时长</p>
<br>
<br>
<br>

<h3>框架选型：Open Web Analytics</h3>
<hr>
<p>
  官网：
  <a href="http://www.openwebanalytics.com/">http://www.openwebanalytics.com/</a>
</p>
<p>
  官网Demo：
  <a href=" http://demo.openwebanalytics.com/owa/index.php"> http://demo.openwebanalytics.com/owa/index.php</a>
</p>
<p>
  github地址:
  <a href="https://github.com/padams/Open-Web-Analytics">https://github.com/padams/Open-Web-Analytics</a>
</p>
<p>
  wiki：
  <a href="https://github.com/padams/Open-Web-Analytics/wiki">https://github.com/padams/Open-Web-Analytics/wiki</a>
</p>

