<h1>前端技术分享介绍</h1>
<h2>为什么要做技术分享？</h2>
<ul>
  <li>
    <h4>营造良好的技术氛围</h4>
  </li>
  <li>
    <h4>督促自己保持不断的学习</h4>
  </li>
  <li>
    <h4>帮助他人提升能力</h4>
  </li>
  <li>
    <h4 style="color: red">马斯诺需求理论的第三四层</h4>
  </li>
</ul>

<br>
<br>
<br>
<h2>要分享些什么？</h2>
<ul>
  <li>
    <h4>自己感兴趣的知识点</h4>
  </li>
  <li>
    <h4>熟练掌握的知识点</h4>
  </li>
  <li>
    <h4>学习方法</h4>
  </li>
  <li>
    <h4>其它</h4>
  </li>
</ul>
<br>
<br>
<br>
<h2>怎么做技术分享？</h2>
<ul>
  <li>
    <h4>提前准备内容提纲</h4>
  </li>
  <li>
    <h4>准备好分享PPT，接受审核，提前排练。</h4>
  </li>
  <li>
    <h4>至少提前2天</h4>
  </li>
  <li>
    <h4>分享时间 17:00 之后</h4>
  </li>
  <li>
    <h4>分享内容要有层次感，由浅入深。</h4>
  </li>
  <li>
    <h4>分享氛围上尽量轻松自然。</h4>
  </li>
  <li>
    <h4>认真对待每一次分享。</h4>
  </li>
</ul>
<br>
<br>
<br>
<h2>分享选题</h2>
<ul>
  <li>
    <h4>专题请求. 可以请求其他成员完成专题，比如比较深的知识，可以要求团队比较有经验的进行学习分享</h4>
  </li>
  <li>
    <h4>学习总结</h4>
  </li>
  <li>
    <h4>项目回顾</h4>
  </li>
  <li>
    <h4>难点攻克</h4>
  </li>
  <li>
    <h4>项目规范</h4>
  </li>
  <li>
    <h4>工具使用</h4>
  </li>
</ul>
