<h1>前端技术分享奖励机制⽅案</h1>
<p>前端技术分享的目的是什么？优秀分享的评选标准是什么？</p>
<br>
<h2>1. 背景介绍</h2>
<p>
  执⾏前端组内技术分享会是对于提升前端团队技术氛围的⼀项⻓期利好的举措，从前端⼯作组计划筹备，到实际的分享落地，完成了第⼀轮的技术分享排期，分享落地，以及收集听众对于该分享的匿名反馈意⻅，为了更好的更⻓久的良性执⾏下去特此申请到了对于优秀分享者的激励机制。
</p>
<br>
<h2>2. 希望达成的效果</h2>
<p>希望所有前端成员都能够积极的参与到技术分享中，所有⼈都能够在技术分享中有所收获。 - 提升前端团队技术氛围 - 提升前端团队技术深度和⼴度 - 提升技术在⼯作中的使⽤能⼒ - 提升个⼈的综合能⼒</p>
<br>
<h2>3. 激励什么样的⾏为</h2>
<ul>
  <li>
    积极分享个⼈技术经验，⼯作经验
  </li>
  <li>
    能够积极深⼊研究⼯作中使⽤到的技术，或者能够积极了解相关的新技术
  </li>
  <li>
    能够将分享内容清晰，直观的让听众有所收获
  </li>
</ul>
<br>
<h2>4. 如何评选，谁评选</h2>
<p>评审⼈： 参与分享会的听众 + 前端⼯作组成员</p>
<p>如何评选： 每次分享会结束都会收集参与分享会的听众的反馈信息，可以根据其中的 「收获程度」和
  「整体感觉」两个维度来对本次分享会进⾏评分形成基础分。分别考量了本次分享会的内容质量和分享⼈对于主持分享会的综合能⼒。在评选的权重上内容质量的权重要⾼于综合能⼒。撰写技术博客将会作为附加分参与分享总分的计算。</p>
<br>
<h2>5. 预算</h2>
<p>励预算：每个⽉评选 2 名优秀分享者，额度 ¥200/⼈ 的激励。 激励物品：书籍</p>
<br>
