<h1>调试优化</h1>
<ul>
  <li>
    <h2>用户数据行为</h2>
    <ul>
      <li>
        <h3>埋点规范</h3>
      </li>
      <li>
        <h3>埋点方案</h3>
      </li>
      <li>
        <h3>埋点机制</h3>
      </li>
      <li>
        <h3>数据处理&分析</h3>
      </li>
    </ul>
  </li>
  <li>
    <h2>性能指标调优</h2>
    <ul>
      <li>
        <h3>性能评分标准、指标</h3>
      </li>
      <li>
        <h3>性能检测工具</h3>
      </li>
      <li>
        <h3>性能数据可视化</h3>
        <ul>
          <li>
            <h4>历史走势</h4>
          </li>
          <li>
            <h4>数据看板</h4>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <h2>云端检测</h2>
    <ul>
      <li>
        <h3>请求检测</h3>
      </li>
      <li>
        <h3>兼容性检测</h3>
      </li>
      <li>
        <h3>依赖检测</h3>
      </li>
      <li>
        <h3>UI 检测</h3>
      </li>
    </ul>
  </li>
  <li>
    <h2>自动化测试</h2>
    <ul>
      <li>
        <h3>功能点单测</h3>
      </li>
      <li>
        <h3>UI 自动化测试</h3>
      </li>
      <li>
        <h3>链路自动化测试</h3>
      </li>
    </ul>
  </li>
</ul>
