<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>前端规范</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right">
        <a routerLink="/overview">前端概览</a>
      </li>
      <li nz-submenu nzTitle="研发流程标准化">
        <ul>
          <li nz-submenu nzTitle="规范制度|文档化|工具化">
            <ul>
              <li nz-menu-item>
                <a routerLink="/standard">工具集</a>
              </li>
              <li nz-menu-item>
                <a routerLink="/standard/styleGuide">风格规范</a>
              </li>
              <li nz-menu-item>
                <a routerLink="/standard/code">代码规范</a>
              </li>
              <li nz-menu-item>
                <a routerLink="/standard/perfomance">性能规范</a>
              </li>
              <li nz-menu-item>
                <a routerLink="/standard/flow">流程规范</a>
              </li>
              <li nz-submenu nzTitle="git规范">
                <ul>
                  <li nz-menu-item>
                    <a routerLink="/standard/git">规范概览</a>
                  </li>
                  <li nz-menu-item>
                    <a routerLink="/standard/git/commit">commit规范</a>
                  </li>
                  <li nz-menu-item>
                    <a routerLink="/standard/git/merge">merge规范</a>
                  </li>
                  <li nz-menu-item>
                    <a routerLink="/standard/git/tag">tag规范</a>
                  </li>
                  <li nz-menu-item>
                    <a routerLink="/standard/git/branch">branch规范</a>
                  </li>
                  <li nz-menu-item>
                    <a routerLink="/standard/git/release">release规范</a>
                  </li>
                  <li nz-menu-item>
                    <a routerLink="/standard/git/command">command规范</a>
                  </li>
                </ul>
              </li>
              <li nz-submenu nzTitle="工程规范">
                <ul>
                  <li nz-menu-item>
                    <a routerLink="/standard/engineer">项目架构规范</a>
                  </li>
                  <li nz-menu-item>
                    <a routerLink="/standard/engineer/rxjs">Rxjs规范</a>
                  </li>
                </ul>
              </li>
              <li nz-submenu nzTitle="文档规范">
                <ul>
                  <li nz-menu-item>
                    <a routerLink="/standard/file">需求分析</a>
                  </li>
                  <li nz-menu-item>
                    <a routerLink="/standard/file/summary">概要设计</a>
                  </li>
                  <li nz-menu-item>
                    <a routerLink="/standard/file/detail">详细设计</a>
                  </li>
                </ul>
              </li>
              <li nz-menu-item>
                <a routerLink="/">开源规范</a>
              </li>
            </ul>
          </li>
          <li nz-menu-item>
            <a routerLink="/frame">基础框架</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/node">Node等工程化平台</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/lib">物料库</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/synergy">前后端协同</a>
          </li>
          <li nz-submenu nzTitle="调试优化">
            <ul>
              <li nz-menu-item>
                <a routerLink="/optimized">调优概览</a>
              </li>
              <li nz-menu-item>
                <a routerLink="/optimized/buried">用户数据行为</a>
              </li>
            </ul>
          </li>
          <li nz-menu-item>
            <a routerLink="/deploy">构建部署</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/">线上数据采集&分析</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/">数据量化</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/">复盘成长</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="前端培训">
        <ul>
          <li nz-menu-item>
            <a routerLink="/training">培训概览</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/training/share">前端技术分享</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/training/award">分享奖励机制</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/training/review">前端优秀代码评审标准</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Demo" nzIcon="form">
        <ul>
          <li nz-menu-item>
            <a routerLink="/demo">demo1</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/demo/second">demo2</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
