<p>first works!</p>

<button (click)="myEmit()">发射流</button>
<button (click)="myDestroy()">销毁流</button>
<!-- <button (click)="getDatas()">发请求</button> -->

<ul>
  <!-- <li *ngFor="let item of data$ | async">
    {{item.name}}
  </li> -->
  <ng-container [ngTemplateOutlet]="dataTpl" [ngTemplateOutletContext]="{info: data$ | async}"></ng-container>
  <ng-template #dataTpl let-person="info">
    <li *ngFor="let item of person">
      {{item.name}}
    </li>
  </ng-template>


</ul>

<app-second [data]="list"></app-second>

<button (click)="changeAge()">改变年龄</button>
