<h1>前端优秀代码评审标准</h1>

<ol>
  <li>
    <h2>最低标准：符合前端代码规范</h2>
  </li>
  <li>
    <h2>命名合理，功能明确，逻辑正确，符合预期要求和目的</h2>
  </li>
  <li>
    <h2>代码阐述清晰，没有歧义，便于理解</h2>
  </li>
  <li>
    <h2>可拓展，可维护，安全</h2>
  </li>
  <li>
    <h2>遵循常见软件设计原理：高内聚低耦合，
      <a href="https://zhuanlan.zhihu.com/p/82324809">SOLID</a>，
      DRY（Do Not Repeat Yourself），KISS（Keep it simple, stupid），
      <a href="https://cloud.tencent.com/developer/article/1763394">迪米特</a>，
      YAGNI（You aren’t gonna need it）等等；
    </h2>
  </li>
  <li>
    <h2>在抽象封装、可读性、高效率、已维护、易扩展等方便变现突出</h2>
  </li>
  <li>
    <h2>使用最新技术活标准，提供更好的解决方案</h2>
  </li>
</ol>
